.open-post2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.open-post2__tilte {
  font-weight: 600;
  margin-bottom: 7px;
  color: var(--blue);
}
.open-post2__hashtags {
  opacity: 0.6;
  color: var(--best-blue);
}
.open-post2__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post2__members img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.open-post2__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post2__members .divider {
  width: 2px;
  height: 14px;
  background-color: var(--best-gray);
  margin: 0px 5px;
}
.open-post2__member-status {
  color: #ff86d0;
}
.open-post2__photo {
  position: relative;
}
.open-post2__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-post2__photo i {
  display: block;
  top: -10px;
}
.open-post2__heart-count {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post2__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat2 {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post2__heart-count .fa-heart:hover {
  will-change: transform;
  animation: heartBeat2 0.8s linear infinite;
}
